@charset "UTF-8";

@mixin vertical-center { // 垂直水平居中
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis($line){ // 超出行显示...
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

//底部1px的实现
@mixin border-1px($color) {
  position: relative;
  // 用于伪类的定位
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    border-bottom:1px solid $color;
    color: $color;
    height: 200%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    pointer-events: none; /* 防止点击触发 */
    box-sizing: border-box;
    @media screen and (min-device-pixel-ratio:3),(-webkit-min-device-pixel-ratio:3){
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33);
      transform: scale(0.33);
    }
  }
}